 <template>
  <div>
      <h4>Question</h4>
      <p v-if="loading">Loading questions...</p>
      <div v-if="!loading">
        <CurrentQuestionDisplay v-bind:currentQuestion="questionList[currentIndex]" 
        v-bind:next="next"/>
        <br><br><br>
      </div>
      <p id="feedback"></p>
  </div>
</template>

<script>
import CurrentQuestionDisplay from '../components/CurrentQuestionDisplay'
import { getAllQuestions } from '../api/questions' 

export default {
    name: "Question",
    components: {
      CurrentQuestionDisplay
    },
    async created() {
      try {
          this.questionList = await getAllQuestions();
        } catch (error) {
            this.error = error.message;
        } finally {
            this.loading = false;
            this.currentIndex = 0;
            this.points = 0;
            this.totalPoints = this.questionList.length;
        }
    },
    data () {
      return {
        loading: true,     
        currentIndex: 0,
        questionList: [],
        totalPoints: 0,
        points: 0
      }
    },
    methods: {
      next: function(answeredCorrect, checkAns) {
        if (answeredCorrect) {
          this.points++;
        } 
        this.questionList[this.currentIndex].selected = checkAns;
        this.currentIndex++;
        if (this.currentIndex >= this.questionList.length) {
          this.$router.push({name: "ResultInfo", params: 
            { 
              points: this.points, 
              total: this.totalPoints,
              questions: this.questionList
            }});
        }
      }
    }

}
</script>

<style>

</style>