<template>
    <div>
      <h1>Results</h1>
      <h4>You got: </h4>
      <h3>{{ $route.params.points }}/{{ $route.params.total }}</h3>
      <AnswersDisplay v-for="quest in $route.params.questions" :key="quest.question" 
       :currentQuestion="quest" />

  </div> 
</template>

<script>
import AnswersDisplay from '../components/AnswersDisplay'

export default {
    name: "ResultInfo",
    components: {
      AnswersDisplay
    } 
}
</script>

<style>

</style>