<template>
    <div class="welcome">
      <h1>Welcome</h1>
      <router-link to="question/">
        <button>Play</button>
      </router-link>
  </div>
</template>

<script>
export default {
    name: "Welcome"
}
</script>

<style>

</style>