<template>
  <div>
      <h4>{{ currentQuestion.question }}</h4>
      <p>Correct answer: {{ currentQuestion.correct_answer }}</p>
      <p>Your answer: {{ currentQuestion.selected }}</p>
      <hr>
  </div>
</template>

<script>
export default {
    name: "AnswersDisplay",
    props: {
        currentQuestion: {
            type: Object
        }
    }
}
</script>

<style>

</style>