<template>
    <div>
        <h4 v-if="currentQuestion!=null"> {{currentQuestion.question}}</h4>
        <h5>Select an answer: </h5>
        <ul>
            <li v-for="opt in alternatives" :key="opt.index">
                <input type="radio" name="answer-option" :id="opt.index" :value="opt.option">
                <label :for="opt.index">{{opt.option}}</label> <!-- should be able to click label - why not working? -->
                <!--@click="checkAnswer"-->  
            </li>
        </ul>
        <button @click="nextQuestion">Next</button>
    </div>
</template>

<script>
export default {
    name: 'CurrentQuestionDisplay',
    props: {
        currentQuestion: {
            type: Object
        },
        next: Function
    },
    mounted() {
        this.setAnswerOptions();
    },
    beforeUpdate() {
        // 
        if (this.checked_answer == null && !this.first_loading) {
            this.setAnswerOptions();
        }
        this.first_loading = false;
    },
    data() {
        return {
            alternatives: [],
            first_loading: true
        }
    },
    methods: {
        setAnswerOptions: function() {
            let options = []
            options.push({option: this.currentQuestion.correct_answer, id:0});
            let index = 1;
            this.currentQuestion.incorrect_answers.forEach(ans => {
                options.push({option: ans, id: index++});
            })
            this.alternatives = options.sort(() => 0.5-Math.random()); // shuffled
            this.correct_ans = this.currentQuestion.correct_answer;
        },
        nextQuestion: function() {
            let inputElements = document.getElementsByTagName("input");
            let result = false;
            let answered = null;
            inputElements.forEach(el => {
                if (el.checked) {
                    answered = el.value;
                    if (el.value ==this.currentQuestion.correct_answer) {
                    result = true;
                    }
                }
            });
            this.next(result, answered);
        }
    }
}
</script>

<style>
    ul {
        padding: 10px;
    }
    li {
        display: inline;
        padding: 10px;
    }
    label {
        width: 100px;
        height: 10px;
        border: 2px solid black;
        border-radius: 2px;
        padding: 10px;
    }
    input[type="radio"]:checked + label {
        background-color: green;
        color: white;
    }
    button {
        padding: 10px;
        background-color: rgb(1, 49, 1);
        color: white;
    }

</style>